@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*Estilos para navegador*/
nav .nav-link {
    color: #282828;
}

nav .active {
    border: 1px solid #e2000e;
    border-radius: 20px;
}

.btn-rojo {
    background-color: #e2000e;
    color: white !important;
    font-weight: 100;
}

.btn-rojo:hover {
    color: white;
    background-color: #370a6d;
}

/*Estilos Botones*/
.btn {
    border-radius: 14px;
}

.btn-blanco {
    background-color: white;
    color: #370a6d;
}

.btn-blanco:hover {
    color: white;
    background-color: #370a6d
}

.whatsapp {
    background-color: #25d366;
    color: white;
    width: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 8px 0 15px 0;
    right: 80px;
    position: fixed;
    bottom: 0px;
}

.fa-whatsapp {
    font-size: 34px;
    color: white;
}

/*Estilos generales*/
h1 {
    color: #e2000e;
    font-size: 36px;
}

h3 {
    font-size: 14px;
    color: #282828;
    font-weight: 300;
    text-align: center;
}

p {
    color: #6a6a6a;
    font-size: 16px;
}
span {
    font-weight: 500;
}

/*Estilos pagina contacto*/
#contacto {
    background-image: url('../images/fondo-contacto.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

textarea {
    height: 150px;
}

.form-control {
    border-radius: 14px;
}

.shadow {
    box-shadow: 0 .5rem, 1rem;
}

@media (max-width: 750px) {
    #contacto {
        background-image: url('../images/fondo-proyectos.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media (max-width: 750px) {
    .shadow-btn-C {
        border: solid 1px lightgray;
        margin-left: 120px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
    }
}

/*Estilos proyectos*/
#proyectos {
    background-image: url('../images/fondo-proyectos.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.proyecto {
    border: 1px solid #eee;
    background-color: white;
}

.proyecto img {
    height: 208px;
}

.proyecto h2 {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
}

.proyecto p {
    font-size: 14px;
    height: 148px;
}

.proyecto a {
    color: #e2000e;
}

/*Estilos sobre mí*/
#sobre-mi {
    background-image: url('../images/fondo-proyectos.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-circle {
    margin: 1em auto;
    display: block;
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
}

#stack-tecno {
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
}

#sobre-mi .cajas {
    height: 182px;
    background-color: white;
    border-radius: 5px;
}

#formacion-academica h2 {
    color: #E20000;
    font-weight: 400;
    font-size: 24px;
}

#formacion-academica h4 {
    color: #E20000;
    font-size: 17px;
}

.izquierda {
    text-align: left;
}

#Extras .card {
    background-color: #370A6D;
    border-radius: 15px;
    padding: 60px 0;
}

.fa-face-laugh-beam {
    color: white;
    font-size: 80px;
}

.fa-language {
    color: white;
    font-size: 80px;
    text-align: center;
}

#Extras h2 {
    font-size: 16px;
}

#Extras ul {
    color: #282828;
    font-size: 14px;
    list-style-type: none;
    padding: 0px;
}
@media (max-width: 750px) {
    #sobre-mi h2 {
        text-align: center !important;
        margin-top: 8px !important;
    }
}

/*Estilos inicio*/
#inicio {
    background-image: url('../images/fondo-contacto.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#inicio .cohete {
    height: 400px;
    margin: 0px;
    padding: 0px;
}

#inicio .cohete:hover {
    height: 405px
}

#inicio .div-cohete {
    height: 410px;
}

#inicio .input-home p {
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}

@media (max-width: 750px) {
    #inicio {
        background-image: url('../images/fondo-proyectos.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media (max-width: 750px) {
    .shadow-btn {
        border: solid 1px lightgray;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
    }
}

@media (max-width: 750px) {
    #inicio .input-home p {
        color: #E20000;
        border: 1px solid #E20000;
    }
}

/*Estilos footer*/
#proyectos footer,
#proyectos footer a {
    color: #E20000;
    font-weight: 100;
}

#proyectos footer .fa-github,
#proyectos footer .fa-linkedin-in {
    font-size: 30px;
    color: #E20000;
}

#sobre-mi footer,
#sobre-mi footer a {
    color: #E20000;
    font-weight: 100
}

#sobre-mi footer .fa-github,
#sobre-mi footer .fa-linkedin-in {
    font-size: 30px;
    color: #E20000;
}

#contacto footer,
#contacto footer a {
    color: white;
    font-weight: 100
}

#contacto footer .fa-github,
#contacto footer .fa-linkedin-in {
    font-size: 30px;
    color: white;
}

#inicio footer,
#inicio footer a {
    color: white;
    font-weight: 100
}

#inicio footer .fa-github,
#inicio footer .fa-linkedin-in {
    font-size: 30px;
    color: white;
}

@media (max-width: 750px) {
    footer a {
        color: #E20000 !important;
    }
}

@media (max-width: 750px) {
    footer {
        color: #E20000 !important;
        text-align: left !important;
    }
}

@media (max-width: 750px) {
    #contacto footer {
        color: #E20000 !important;
        text-align: center !important;
    }
}
@media (max-width: 750px) {
    #inicio footer {
        color: #E20000 !important;
        text-align: center !important;
    }
}

@media (max-width: 750px) {
    footer .fa-github {
        color: #E20000 !important;
    }
}
    @media (max-width: 750px) {
        footer .fa-linkedin-in {
            color: #E20000 !important;
        }
}